<% include header.ejs %>
<div class="container">
<ol class="breadcrumb">
  <li><a href="/admin">首页</a></li>
  <li><a class="active">邮件广告</a></li>
</ol>
	  <form class="form-horizontal" method="POST" action="/sendPormotionEmail" class="form-horizontal">

	<div class="control-group">

	          <!-- Text input-->
	          <label class="control-label" for="input01">品牌</label>
	          <div class="controls">
	              <label>环欧洲</label>
	  	<input type="radio"  value ="europely" class="input-xlarge" name="logo" checked="true">
	  	<label>飘零</label>
	  	<input type="radio"  value ="piaoling" class="input-xlarge" name="logo">
	            <p class="help-block">选择发邮件的品牌： 环欧洲或者飘零</p>
	          </div>
	        </div>

	  <div class="control-group">

	            <!-- Text input-->
	            <label class="control-label" for="input01">标题</label>
	            <div class="controls">
	              <input type="text" placeholder="飘零旅游推荐目的地" class="input-xlarge" name="email_title" required="true">
	              <p class="help-block"></p>
	            </div>
	          </div>

	      <div class="control-group">

	            <!-- Text input-->
	            <label class="control-label" for="input01">副标题</label>
	            <div class="controls">
	              <input type="text" placeholder="最新旅游项目,景点推荐" class="input-xlarge" name="sub_title" required="true">
	              <p class="help-block"></p>
	            </div>
	          </div>

	      <div class="control-group">

	            <!-- Textarea -->
	            <label class="control-label">收件人列表</label>
	            <div class="controls">
	              <div class="textarea">
	                    <textarea type="" class="" name="email_list" required="true"> </textarea>
	                    <p class="help-block">格式 test@xx.com;test2@xx.com;test3@xx.com</p>
	              </div>
	            </div>
	          </div>

	          <div class="control-group">

	            <!-- Text input-->
	            <label class="control-label" for="input01">邮件主题</label>
	            <div class="controls">
	              <input type="text" placeholder="飘零旅游为您推荐最新旅游项目" class="input-xlarge" name="email_theme" required="true">
	              <p class="help-block"></p>
	            </div>
	          </div>
	  <hr>
   		
	      <table class="table table-hover table-bordered">
	                      <thead>
	                          <tr>
	                            <th>编号</th><th>country</th><th>URL</th><th>city</th><th>icon</th><th>line</th><th>model</th><th>Price元</th><th>Chosed</th>
	                          </tr>
	                      </thead>
	                      <tbody>
	                         <% for( i=0; i<email_ads.length; i++) { item = email_ads[i] %>
	                          <%if ( i % 2 ==0 ) { %>
	                            <tr class="success">
	                          <%} else { %>  
	  	            <tr class="info">
	  	          <% }%>	
	  		<th><%=item.line_id%></th>
	  		<th><%=item.country%></th><input type="hidden" name="country" value=<%=item.country%> >
	  		<th><%=item.pic_url%></th><input type="hidden" name="pic_url" value=<%=item.pic_url%> >
	  		<th><%=item.city%></th><input type="hidden" name="city" value=<%=item.city%> >
	  		<th><%=item.icon_url%></th><input type="hidden" name="icon_url" value=<%=item.icon_url%> >
	  		<th><%=item.short_name%></th><input type="hidden" name="short_name" value=<%=item.short_name%> >
	  		<th><%=item.model%></th><input type="hidden" name="model" value=<%=item.model%> >
	  		<th><%=item.price%></th><input type="hidden" name="price" value=<%=item.price%> >
	  		<input type="hidden" name="site" value=<%=item.site%> >
	  		<th><input type="checkbox" name=<%=i%> value ="chosed"></th>
	                          </tr>
	                          <%}%>
	                      </tbody>
	                  </table>


	<button class="btn btn-success">Submiss</button>
	</form>
</div>
<% include footer.ejs %>