<% include header.ejs %>
<%if (logo == "europely") { %>
	<% slogan = "环欧洲旅游--欧洲定制旅游专家" %>
	<% home_page = "http://europely.com/"%>
	<% web_name = "Europely.com"%>
	<% privacy_rule = "http://europely.com/privacy-protection/"%>
<%} else { %>
	<% slogan = "飘零旅游，法國自由行平台" %>
	<% home_page = "http://www.ipiaoling.com/"%>
	<% web_name = "Ipiaoling.com"%>
	<% privacy_rule = "http://www.ipiaoling.com/web-condition/"%>
<%}%>

<div style="background-color: rgb(0, 38, 92); padding: 0px 10px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;"> <table width="700" align="center" cellspacing="0" cellpadding="0" border="0" class="m-100p" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="padding: 13px 0px 2px; border-collapse: collapse;"> <table align="left" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="border-collapse: collapse;"> <a target="_blank" href=<%=home_page%> style="color: rgb(255, 255, 255); font-size: 18px;"> <%= slogan%></a> </td> </tr> </tbody></table> <table align="right" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; border-collapse: collapse;" class="m-hide"> <a target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);" href=<%=home_page%>> 尊敬的客户 </a> </td> <td width="24" style="padding-left: 8px; border-collapse: collapse;">  </td> <td width="57" style="padding-left: 4px; border-collapse: collapse;">  </td> </tr> </tbody></table> </td> </tr> </tbody></table> </td> </tr> <tr>
 <td align="center" style="background-color: rgb(0, 38, 92); padding: 0px 10px 10px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="m-pad-a"> <table align="center" cellpadding="0" cellspacing="0" border="0" width="700" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;" class="m-100p"> <tbody><tr> <td align="left" style="border-collapse: collapse;"> <table align="left" cellpadding="0" cellspacing="0" border="0" width="700" class="m-100p" style="border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td align="left" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: rgb(255, 255, 255); border-collapse: collapse;"><a href=<%=home_page%> target="_blank" style="color: rgb(8, 150, 255); text-decoration: none; display: block;"> 旅游路线可以按需求组合和修改，私人定制行程，随心所欲!</a></td> </tr> </tbody></table> </td> </tr> </tbody></table> </td> </tr> <tr> <td valign="middle" style="background-color: rgb(0, 38, 92); padding: 0px 10px 15px; border-collapse: collapse;"> <table width="700" align="center" cellspacing="0" cellpadding="0" border="0" class="m-100p" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="border-collapse: collapse;"> <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td valign="middle" style="background-color: rgb(254, 186, 2); padding: 8px 8px 8px 7px; border-top-left-radius: 6px; border-top-
right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;"> <table width="74%" align="left" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-collapse: collapse; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; border: 1px solid rgb(254, 186, 2); border-spacing: 0px; background-position: initial initial; background-repeat: initial initial;" class="h-searchbox m-search-h"> <tbody><tr> <td valign="middle" width="25" style="padding: 5px; border-collapse: collapse;" class="h-searchicon"> <a target="_blank" href=<%=home_page%>> <img style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;" src="http://q.bstatic.com/static/img/newsletters/icon_header_search.gif" width="25" height="25" border="0"> </a> </td> <td valign="middle" style="font-family: Arial, Helvetica, sans-serif; padding: 5px 5px 5px 0px; line-height: 25px; border-collapse: collapse;" class="m-lineheight"> <a target="_blank" href=<%=home_page%> style="text-decoration: none; color: rgb(8, 150, 255); font-size: 14px; display: block;" class="m-search-adj"> 国家、城市、区域或酒店 </a> </td> </tr> </tbody></table> <table width="25%" align="right" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(8, 150, 255); border-collapse: collapse; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border: 2px solid rgb(255, 255, 255); border-spacing: 0px; background-position: initial initial; background-repeat: initial initial;" class="h-searchbtn m-search-h"> <tbody><tr> <td valign="middle" align="center" style="padding: 4px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; border-collapse: collapse;"> 搜索 </td> </tr> </tbody></table> </td> </tr> </tbody></table> </td> </tr> </tbody></table> </td> </tr> </tbody></table></td></tr></tbody></table></td></tr></tbody></table></div>

<!--body-->
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700" class="deviceWidth" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;">
<tbody><tr>
<td style="padding-top: 20px; border-collapse: collapse;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing: 0px; border-collapse: collapse;">
<tbody><tr>
<td style="font-size: 22px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 53, 128); border-collapse: collapse;" align="left">
<%= title%>
</td>
</tr>
<tr>
<td style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: rgb(83, 83, 83); padding-bottom: 20px; border-collapse: collapse;" align="left">
<%= sub_title%>
</td>
</tr>
</tbody></table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
  <tbody>
  	<% for( i=0; i<email_ads.length; i++) { item = email_ads[i] %>
	   <%if ( i % 3 ==0 ) { %>
		<tr>
	              <td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
		<%} else { %>  
	            <td width="226" valign="top" style="padding-right: 11px; padding-bottom: 20px; border-collapse: collapse;" class="m-stack m-pad-b">
	  <% }%>	
	
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody>
		<tr>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; padding-bottom: 5px; line-height: 18px; padding-top: 8px; border-collapse: collapse;">
		<%=item.country%>
		</td>
		</tr>
		<tr>
		<td style="background-color: rgb(123, 206, 235); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<img class="r-fw" src=<%=item.pic_url%> width="226" height="226" border="0" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</td>
		</tr>
		<tr>
		<td style="padding: 8px; background-color: rgb(68, 68, 68); border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<tbody><tr>
		<td style="background-color: rgb(254, 240, 210); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
			<tbody><tr>
			<td width="30" style="border-collapse: collapse;">
			<img src=<%=item.icon_url%> width="57" height="24" border="0" style="display: block; margin: 0px 5px 0px 0px; border: none; line-height: 100%; outline: none; text-decoration: none;">
			</td>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;" align="right">
			<strong style="font-weight: bold;"><%=item.city%></strong>
			</td>
			</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(227, 237, 255); padding: 4px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;">
		<tbody><tr>
		<td width="30" style="border-collapse: collapse;">
		<img src="http://europely.com/wp-content/uploads/2015/10/piao-icon.fw_.png" width="24" height="24" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;">
		</td>
		<td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; border-collapse: collapse;">
		<strong style="font-weight: bold;"><%=item.short_name%></strong>
		</td>
		</tr>
		</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td align="right" style="padding: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; border-collapse: collapse;">
	<%=item.model%>
	<%=item.price%>元起
	</td>
	</tr>
	</tbody>
	</table>
	</td>
	</tr>
	<tr>
	<td style="background-color: rgb(68, 68, 68); border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 0px 8px 8px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: rgb(0, 159, 227); border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; box-shadow: rgb(45, 51, 59) 0px 1px 2px; border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;" class="btn-block">
	<tbody><tr>
	<td align="left" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); border-collapse: collapse;" class="all-btn">
	<a target="_blank" href=<%=item.site%> style="color: rgb(255, 255, 255); text-decoration: none; display: block;" class="all-btn">
	带我去
	</a>
	</td>
	
	<td width="20" align="left" style="padding: 10px 0px; border-collapse: collapse;">
	<img src="http://q.bstatic.com/static/img/newsletters/arrow-sml-right-white.gif" width="10" height="20" border="0" style="display: block; border: none; line-height: 100%; outline: none; text-decoration: none;"><!-- image of arrow -->
	</td>
	</tr>
	</tbody>
         </table>
     </td>
 </tr>
</tbody></table>
</td>
<!-- one of the cards -->

<!-- 3th line-->
    <%if ( i % 3 ==2 ) { %>
       </tr>
    <% }%>	

 <% }%>
<!-- end loop-->
</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>

</tbody></table>
</td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>

<!--footer-->
<table width="700" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="padding: 10px 0px; border-collapse: collapse;"> <table align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; padding-right: 10px; border-collapse: collapse;"> <span style="text-decoration:none;color:#003580;"> 您对我们的电子报还满意吗？ </span> </td> <td style="border-collapse: collapse;"> <a href=<%=home_page%>> 评价 </a></td> </tr> </tbody></table> </td> </tr> </tbody></table> <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(2, 67, 127); border-spacing: 0px; border-collapse: collapse; background-position: initial initial; background-repeat: initial initial;"> <tbody><tr> <td style="padding: 10px 0px; border-collapse: collapse;"> <table align="center" width="700
" cellspacing="0" cellpadding="0" border="0" class="deviceWidth" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="border-collapse: collapse;"> <table align="center" cellspacing="0" cellpadding="0" border="0" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td align="center" style="padding-left: 10px; border-collapse: collapse;" class="m-stack m-nopad"> 
<table align="center" cellpadding="0" cellspacing="0" border="0" style="background-color: rgb(8, 150, 255); border-collapse: collapse; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; border: 2px solid rgb(255, 255, 255); border-spacing: 0px; background-position: initial initial; background-repeat: initial initial;"> 
<tbody><tr> <td valign="middle" align="center" style="padding: 5px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 25px; border-collapse: collapse;"> <a target="_blank" href=<%=home_page%> style="text-decoration: none; color: rgb(255, 250, 255); display: block;">查看所有优惠</a> </td> </tr> </tbody></table> </td> </tr> </tbody></table> </td> </tr> </tbody></table> </td> </tr> </tbody></table> <table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" style="border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td style="background-color: rgb(0, 38, 92); padding: 15px 0px; border-collapse: collapse;"> <table width="700" cellpadding="0" cellspacing="0" bor
der="0" align="center" class="deviceWidth" style="margin: 0px auto; border-spacing: 0px; border-collapse: collapse;"> <tbody><tr> <td align="left" style="text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; color: rgb(229, 234, 238); border-collapse: collapse;">感谢阅读！希望您的旅途中始终有我们相伴！</td> </tr> <tr> <td align="left" style="padding-top: 10px; text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 11px; color: rgb(229, 234, 238); border-collapse: collapse;"> 本邮件内容专为<a href="" target="_blank" style="text-decoration: none; color: rgb(8, 150, 255);">自由行</a>定制。如无特别说明，所示价格均为<span style="color:#c3d4e5;">2015年10月13日星期二 02:40 GMT</span>预订的参考价格。邮件中列出的旅游路线在取消和付款政策上各有不同，预订前请务必在<a href="" target="_blank" style="color: rgb(8, 150, 255); text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(67, 100, 145);"><%=web_name%></a>查看规定。 </td> </tr> <tr> <td align="left" style="text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 11px; color: rgb(229, 234, 238); padding-top: 10px; border-collapse: collapse;"> <div> 这封电邮是由<a href=<%=home_page%> target="_blank" style="color: rgb(8, 150, 255); text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(67, 100, 145);"></a><%=web_name%>发送的,<a target="_blank" style="color: rgb(8, 150, 255); text-decoration: none; font-size: 11px;" href=<%=privacy_rule%>>隐私声明</a> <br> <a target="_blank" style="color: rgb(8, 150, 255); text-decoration: none; font-size: 11px;" href=<%=privacy_rule%>>点击此处</a>查看相关条款。 </div> </td> </tr> </tbody></table> </td> </tr> </tbody></table>

<% include footer.ejs %>