<% include header.ejs %>
  <div class="container">
    <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                          <th>编号</th><th>country</th><th>URL</th><th>city</th><th>icon</th><th>line</th><th>model</th><th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                       <% for( i=0; i<email_ads.length; i++) { item = email_ads[i] %>
                        <%if ( i % 2 ==0 ) { %>
                          <tr class="success">
                        <%} else { %>  
	            <tr class="info">
	          <% }%>	
		<th><%=item.line_id%></th><th><%=item.country%></th><th><%=item.pic_url%></th><th><%=item.city%></th>
		<th><%=item.icon_url%></th><th><%=item.short_name%></th><th><%=item.model%></th><th><%=item.price%></th>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
   </div>
<% include footer.ejs %>