<% include book_header.ejs %>
<div class="container">
<ol class="breadcrumb">
  <li><a href="/admin">首页</a></li>
  <li><a class="active">客户来源</a></li>
</ol>
 <div class="form-inline">
	   <div class="form-group">
	          <!-- Select Basic -->
	          <label class="form-label">年份</label>
	            <select class="input-xlarge" id='year'>
		      <option value="2015" selected="true">2015</option>
		      <option value="2016" >2016</option>
		      <option value="2017">2017</option>
		      <option value="2018">2018</option>
		</select>
	  </div>

	    <div class="form-group">
	          <!-- Select Basic -->
	          <label class="form-label">月份</label>
	            <select class="input-xlarge" id="month">
		      <option value='-1' selected="true">无</option>
		      <option value='0'>1月</option>
		      <option value='1'>2月</option>
		      <option value='2'>3月</option>
		      <option value='3'>4月</option>
		      <option value='4'>5月</option>
		      <option value='5'>6月</option>
		      <option value='6'>7月</option>
		      <option value='7'>8月</option>
		      <option value='8'>9月</option>
		      <option value='9'>10月</option>
		      <option value='10'>11月</option>
		      <option value='12'>12月</option>
	              </select>
               </div>

	    <div class="form-group">
                       <button class="btn btn-success" onclick="runFilter()">Go</button>
	   </div>
      </div>
   <!--Data --> 
  <% if (europely_source.num_source > 0) { %>
   <div class="jumbotron">
    
   <div class="page-header">
     <p  id="e_head">Europely:      一共  <%=europely_source['total']%> 次咨询 </p>
  </div>
   <div id='show_euro'>
   <ul>
  <% i = 0 %>
     <% europely_source.web.forEach(function(name) { %>
      <li> <button class="btn btn-info" onclick=<%="addSource('"+name+"','europely')"%>>+</button>  <%=name%> | <%=europely_source.count[i]%>   占 <%= (europely_source.count[i] / europely_source['total'] * 100).toFixed(1) %>%  <button class="btn btn-danger" onclick=<%="delSource('"+name+"','europely')"%>>减掉一个</button></li>
        <% i = i+1 %>
     <%})%>  
    </ul>

   </div>
 <%}%> 
 <hr>
  <div class="form-inline">
	   <div class="form-group">
	          <!-- Select Basic -->
	          <label class="form-label">新来源</label>
		<input type="text" placeholder="客户从哪里知道我们" class="input-xlarge" id="e_source_name"> 
	  </div>
	    <div class="form-group">
                       <button class="btn btn-success" onclick="addSource('new','europely')">添加</button>
	   </div>
      </div> 
 </div>

  <% if (ipiaoling_source.num_source > 0) { %>
   <div class="jumbotron">
   <div class="page-header">
      <p id="i_head">Ipiaoling:      一共  <%=ipiaoling_source['total']%> 次咨询 </p>
   </div>
   <div id='show_ipiaoling'>
   <ul>
  <% i = 0 %>
     <% ipiaoling_source.web.forEach(function(name) { %>
      <li> <button class="btn btn-info" onclick=<%="addSource('"+name+"','ipiaoling')"%>>+</button> <%=name%> | <%=ipiaoling_source.count[i]%> 占<%= (ipiaoling_source.count[i] / ipiaoling_source['total'] * 100).toFixed(1) %>% <button class="btn btn-danger" onclick=<%="delSource('"+name+"','ipiaoling')"%>>减掉一个</button></li>
        <% i = i+1 %>
     <%})%>  
    </ul>
   </div>
     <hr>
     <div class="form-inline">
   	   <div class="form-group">
   	          <!-- Select Basic -->
   	          <label class="form-label">新来源</label>
   		<input type="text" placeholder="客户从哪里知道我们" class="input-xlarge" id="i_source_name"> 
   	  </div>
   	    <div class="form-group">
                          <button class="btn btn-success" onclick="addSource('new','ipiaoling')">添加</button>
   	   </div>
         </div> 
   </div>
 <%}%>
  
</div>
<script type="text/javascript">
//run the filter, show the resulte depende on the time
   function runFilter () {
       //get the year and month value from selecter
       var year = document.getElementById('year').value
       var month =  document.getElementById('month').value
       //remove the content
       $("#show_euro ul li").remove()
       $("#show_ipiaoling ul li").remove()
       //get the new data
       //console.log(month)
       if (month >= 0 ) {
	$.get("/source?month="+month+"&year="+year,function(data,status) {showData(data)})
        } else {
        	$.get("/source?year="+year,function(data,status) {showData(data)})
        }
   }

   function addSource(source_name,web) {
      if (source_name == 'new') {
      	if (web == 'europely') {
      		source_name = document.getElementById('e_source_name').value
      	} else {
      		source_name = document.getElementById('i_source_name').value
      	}
      }
      $.get("/addSource?web="+web+"&source_name="+source_name, function(data,status) {
      	
      	if (status == 'success') {
        $("#show_euro ul li").remove()
        $("#show_ipiaoling ul li").remove()
        $.get("/source?p=1",function(data,status) {showData(data)})
      	}
       })
    }

    function delSource(source_name,web) {
       console.log("begin")
       $.get("/delSource?web="+web+"&source_name="+source_name, function(data,status) {
        
        if (status == 'success') {
         $("#show_euro ul li").remove()
         $("#show_ipiaoling ul li").remove()
         //p=1 that tell the body dont need to add the all the page, just the source content 
         $.get("/source?p=1",function(data,status) {showData(data)})
        }
        })
     }

   function showData (data) {
   	var e_web = data.europely_source.web
   	var e_count = data.europely_source.count
   	var e_total = data.europely_source.total
   	var i = 0
      $("#e_head").text("Europely:      一共  "+ e_total +" 次咨询" )
   	e_web.forEach(function(name) {
   		$li_1 = $("<li> <button class='btn btn-info' onclick=addSource('"+name+"','europely')>+</button> " + name + " | " + e_count[i] + "占" + (e_count[i] / e_total * 100).toFixed(1) +"% <button class='btn btn-danger' onclick=delSource('"+name+"','europely')>减掉一个</button></li>")
   	              $("#show_euro ul").append($li_1)
   		i = i+1
   	}) 
   	var i_web = data.ipiaoling_source.web
   	var i_count = data.ipiaoling_source.count
   	var i_total = data.ipiaoling_source.total
   	var i = 0
    $("#i_head").text("Piaoling:      一共  "+ i_total +" 次咨询" )
   	i_web.forEach(function(name) {
   		$li_1 = $("<li> <button class='btn btn-info' onclick=addSource('"+name+"','ipiaoling')>+</button> " +name + " | " + i_count[i] + "占" + (i_count[i] / i_total * 100).toFixed(1) +"% <button class='btn btn-danger' onclick=delSource('"+name+"','ipiaoling')>减掉一个</button></li>")
   		$("#show_ipiaoling ul").append($li_1)
   		i = i+1
   	}) 
   }
</script>
<% include book_footer.ejs %>